body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdWJxMpKCSmRLdzSGJiPhvT0LC3WkAvrIQeBQ4c0LbEw9aiubs');
}

#seccion_inicio{
    color:blue;
    margin-top: 30px;
}

#seccion_porque img{
    border-radius: 45%;
}
#seccion_porque button{

}

#seccion_porque{
    margin-top: 30px;
}

#localizacion p{
    color: white;

}

#seccion_contacto input,
#seccion_contacto textarea{
    background: rgba(37, 36, 41, 1);
    border-bottom: 3px solid  #0CD2A4;
    border-radius: 0px;
    color: blue;
}

#seccion_contacto button{
        border-radius: 12px;
        background: aqua;
}

#seccion_contacto .glyphicon{
    font-size: 21px;
    color: purple;
}

#seccion_contacto p{
    color: white;
}

#localizacion span{
    color: purple;
}

#seccion_porque p, h2{
    color: lime;
}

#seccion_funciones{
    margin-top: 30px;
}

#seccion_funciones img{
    border-radius: 45%;
}

#seccion_funciones p,h1{
    color: lime;
}

#seccion_servicios{
    margin-top: 30px;

}

#seccion_servicios h1{
    color:lime;
}

#seccion_servicios h3,p{
    color: lime;
}

#seccion_contacto{
    margin-top: 60px;
}

#seccion_contacto h3{
    color: lime;
}

#seccion_contacto ul{
    list-style-type: none;
    margin: 0;
}

#seccion_contacto ul li{
    display: inline;

}

#seccion_contacto ul li a{
    color: white;
}

#seccion_contacto ul li a:hover{
    text-decoration: none;
    color: red;
}

#seccion_contacto ul li a:hover i{
    background:white;
}

#seccion_contacto .fa{
    border: 2px lime solid;
    border-radius: 30%;
    font-size: 40px;
    padding: 5px 15px;
    margin: 10px;
}

#seccion_servicios span{
    color: yellow;
}

#seccion_servicios .glyphicon{
    font-size: 30px;
}

#seccion_servicios h3{
    text-decoration: underline;
    color: aqua;
}

#seccion_servicios {
    color:white;
    padding-bottom: 50px;
    padding-top: 50px;
}

#carousel-example-generic div{
    color: purple;
    font-size: 19px;
    top: 19px;
}

.carousel-inner img{
    height: 500px!important ;
    width: 100%!important;
}
#seccion_copyright{
    color: red;
}
